@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cinzel: "Cinzel", serif;
  --font-noto-color-emoji: "Noto Color Emoji", serif;
  --font-inter: "Inter", sans-serif;
  --font-tiro-bangla: "Tiro Bangla", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-cinzel), var(--font-tiro-bangla),
    var(--font-noto-color-emoji);
}

p,
a,
li,
span,
div {
  font-family: var(--font-inter), var(--font-tiro-bangla),
    var(--font-noto-color-emoji);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #272727;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 0, 0);
  border-radius: 9999px; /* Fully rounded */
  border: none;
}
